{% extends 'base.html.twig' %}

{% block title %}Hello StructureController!{% endblock %}

{% block body %}
    <h1>Création d'une structure</h1>

    {{ form_start(structureCreationForm) }}
    {{ form_row(structureCreationForm.partner) }}
    {{ form_row(structureCreationForm.address) }}
    {{ form_row(structureCreationForm.is_active) }}
    {{ form_row(structureCreationForm.user) }}
    {{ form_row(structureCreationForm.service) }}

    <button type="submit" class="btn">Ajouter cette structure à ce partenaire</button>
    {{ form_end(structureCreationForm) }}
{% endblock %}
