{% extends 'base.html.twig' %}

{% block title %}Edition des services d'une structure{% endblock %}

{% block body %}
    <div class="my-3 p-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h1>Edition des services de {{ structure.address }}</h1>
    </div>

    <div class="my-3 p-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
{#        {{ dump(partner) }}#}
{#        {{ dump(service_from_partner) }}#}
    </div>

    {{ form_start(structureServiceUpdateForm) }}



    <div class="my-3 p-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        {{ form_label(structureServiceUpdateForm.service, 'Services de la structure parmis les services globaux du partenaire', {'label_attr': {'class': 'my-label'}}) }}
        {{ form_widget(structureServiceUpdateForm.service, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(structureServiceUpdateForm.service) }}
        {{ form_help(structureServiceUpdateForm.service) }}
    </div>


    <div class="my-5 p-3 col-6 offset-3 " >
        <button type="submit" class="btn btn-submit">Mettre à jour les services de la structure</button>
    </div>

    {{ form_rest(structureServiceUpdateForm) }}
    {{ form_end(structureServiceUpdateForm) }}

    {#---------return boutons-------------#}
    {{ include('partial/_return_to_structure.html.twig') }}
    {{ include('partial/_return_to_partner.html.twig') }}
    {{ include('partial/_return_to_annuaire.html.twig') }}
    {#-----------------------------#}

{% endblock %}
