{% extends 'base.html.twig' %}

{% block title %}Création d'une structure{% endblock %}

{% block body %}
    <div class="my-3 p-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h1>Création d'une structure</h1>
    </div>

    <div class="my-3 p-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <p>Le partenaire que vous avez choisi pour cette nouvelle structure est : <strong>{{ partner.name }}</strong></p>
        <p>La structure sera créee avec les services globaux de {{ partner.name }} :
            <ul class="list-group list-group-flush">
                {%  for key, service in partner.service %}
                    <li class="list-group-item">{{ partner.service | slice(key, 1)| join(', ') }}</li>
                {% endfor %}
            </ul>
        </p>

    </div>>

    {{ form_start(structureCreationForm) }}

    <div class="my-3 p-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        {{ form_label(structureCreationForm.address, 'Adresse de la structure', {'label_attr': {'class': 'my-label'}}) }}
        {{ form_widget(structureCreationForm.address, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(structureCreationForm.address) }}
        {{ form_help(structureCreationForm.address) }}
    </div>

    <div class="my-3 p-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        {{ form_label(structureCreationForm.is_active, 'Cocher pour activer', {'label_attr': {'class': 'my-label'}}) }}
        {{ form_widget(structureCreationForm.is_active) }}
        {{ form_errors(structureCreationForm.is_active) }}
        {{ form_help(structureCreationForm.is_active) }}
    </div>

    <div class="my-3 p-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        {{ form_label(structureCreationForm.user, 'Associer à un compte utilisateur', {'label_attr': {'class': 'my-label'}}) }}
        {{ form_widget(structureCreationForm.user, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(structureCreationForm.user) }}
        {{ form_help(structureCreationForm.user) }}
    </div>


    <div class="my-3 p-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <button type="submit" class="btn btn-submit">Ajouter cette structure à ce partenaire</button>
    </div>

    {{ form_rest(structureCreationForm) }}
    {{ form_end(structureCreationForm) }}

    {#---------return boutons-------------#}
    {{ include('partial/_return_to_annuaire.html.twig') }}
    {#-----------------------------#}


{% endblock %}
