{% extends 'base.html.twig' %}

{% block title %}Modification d'un service{% endblock %}

{% block body %}
    <div class="my-3 p-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h1>Modification d'un service</h1>
    </div>

    {{ form_start(serviceUpdateForm) }}

    <div class="my-3 p-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        {{ form_label(serviceUpdateForm.title, 'Nouvel intitulé du service', {'label_attr': {'class': 'my-label'}}) }}
        {{ form_widget(serviceUpdateForm.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(serviceUpdateForm.title) }}
        {{ form_help(serviceUpdateForm.title) }}
    </div>

    <div class="my-3 p-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <button type="submit" class="btn btn-submit">Enregistrer les modifications</button>
    </div>

    {{ form_rest(serviceUpdateForm) }}

    {{ form_end(serviceUpdateForm) }}

    {#---------return boutons-------------#}
    {{ include('partial/_return_to_annuaire.html.twig') }}
    {#-----------------------------#}

{% endblock %}
