{% extends 'base.html.twig' %}

{% block title %}Listing partenaires{% endblock %}

{% block body %}

    <div class=" row ">
        {# menuCommun is the left col in display #}
        {{ include('partial/_menuCommun.html.twig') }}

        {# Therefore the following must be in a col also #}

        <div class="col">
            <div class="row text-center">
                <h1>Tableau de bord de {{ partner.name }}</h1>
            </div>

            <div class="row">
                {{ dump(result) }}
                {#-----------PARTNER STRUCTURES LIST------------#}
                 {%  for  structure, serviceArray in result %}
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Franchises affiliées</h5>
{#                        <p class="card-text">{{ partner.structures | slice(key, 1)| join(', ') }}</p>#}
                        <p class="card-text">{{ structure }}</p>
                    </div>
{#                    <ul class="list-group list-group-flush">#}
{#                        {%  for  key,service in serviceArray %}#}
{#                            {% if service in globalService %}#}
{#                            <li class="list-group-item bg-warning"> {{ service}} </li>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                    </ul>#}
                    <ul>
                        {%  for key, service in partner.service %}
                            {% if service in serviceArray %}

                            <li class="list-group-item text-success">{{ partner.service | slice(key, 1)| join(', ') }}</li>
                            {% else %}
                            <li class="list-group-item text-danger ">{{ partner.service | slice(key, 1)| join(', ') }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="card-body">
                        {{ dump(structure) }}
{#                        <a href="{{path('app_structure_update', {'address': structure})}}" class="btn btn-warning m-md-2 btn-update"><i class="bi bi-pen"></i></a><br>#}
{#                        <a href="{{path('app_structure_delete', {'address': structure})}}" class="btn btn-danger m-md-2 btn-delete"><i class="bi bi-trash3"></i></a><br>#}
                    </div>
                </div>
                {% endfor %}
            </div>
            {#-----------------------#}

            {#------------PARTNER GLOBAL SERVICES-----------#}
            <div class="row">

                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Services du partenaire</h5>
                        <p class="card-text">Voici les services globaux du partenaire dont ses structures peuvent bénéficier</p>
                    </div>

                    <ul class="list-group list-group-flush">
                        {%  for key, service in partner.service %}
                            <li class="list-group-item">{{ partner.service | slice(key, 1)| join(', ') }}</li>
                        {% endfor %}
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            {#-----------------------#}


        </div>
    </div>
{% endblock %}
