{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    {{ include('partial/_responsiveFirstRow.html.twig') }}
        {# menuCommun is the left col in display #}
        {{ include('partial/_menuCommun.html.twig') }}

        {# Therefore the following must be in a col also #}

        <div class="col">

            <div class="row text-center">
                <h1>Tableau de bord du partenaire : {{ partner.name }}</h1>
{#                <a href="{{path('app_partner_update', {'id': partner.id})}}" class="btn btn-warning m-md-2 btn-update"><i class="bi bi-pen"></i></a><br>#}

            </div>

            {#---------------Partner data--------------#}
            <div class="row">
                <table class="table table-hover table-responsive table-sm">
                    <thead>
                    <tr>
                        <th scope="col">
                            {% if app.user and is_granted('ROLE_FRANCHISE')  %}
                                <a href="{{ path('app_partner_data_update', {'id' : partner.id})}}" class="m-md-2 "><i class="bi bi-pen"></i></a>
                            {% endif %}
                            Informations sur le partenaire

                        </th>

                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <th scope="row">
                                Nom
                            </th>
                            <th >
                                {{ partner.name }}
                            </th>
                        </tr>

                        <tr>
                            <th scope="row">
                                Statut
                            </th>
                            <th>
                                <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="SwitchPartnerDetail" {{ (partner.isActive) ? 'checked' : '' }} data-id="{{ partner.id }}">
                                        {#<label class="form-check-label" for="SwitchPartnerDetail">Désactivé / Actif </label>#}
                                </div>
                            </th>
                        </tr>

                        <tr>
                            <th scope="row">
                                Présentation
                            </th>
                            <th >
                                {{ partner.description }}
                            </th>
                        </tr>

                        <tr>
                            <th scope="row">
                                Compte utilisateur associé
                            </th>
                            <th >
                                {{ partner.user }}
                            </th>
                        </tr>



                    </tbody>
                </table>
            </div>
            {#-----------------------------#}



                {#---------------Partner global service list--------------#}
                <div class="row">
                    <table class="table table-hover table-responsive table-sm">
                        <thead>
                        <tr>
                            <th scope="col">
                                {% if app.user and is_granted('ROLE_FRANCHISE')  %}
                                    <a href="{{ path('app_partner_service_update', {'id' : partner.id})}}" class="m-md-2 "><i class="bi bi-pen"></i></a>
                                {% endif %}
                                Services globaux du partenaire
                                <span>
                                    <span class="badge text-bg-secondary">{{ serviceCounter }}</span>
                                </span>
                            </th>

                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {%  for key, service in partner.service %}
                            <tr>
                                <th scope="row">
                                        {{ partner.service | slice(key, 1)| join(', ') }}
                                </th>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#-----------------------------#}


            {#---------------Partner structure list--------------#}
            <div class="row">
                <table class="table table-hover table-responsive table-sm">
                    <thead>
                    <tr>
                        <th scope="col">
                            {% if app.user and is_granted('ROLE_FRANCHISE')  %}
                                <a href="{{ path('app_structure_creation_structure_data', {'id' : partner.id})}}" class="m-md-2 "><i class="bi bi-plus-square-fill"></i></a>
                            {% endif %}
                            Structures du partenaire
                            <span class="badge text-bg-secondary">{{ structureCounter }}</span>

                        </th>
                        {% if app.user and is_granted('ROLE_FRANCHISE')  %}
                            <th scope="col">Activer</th>
                            <th scope="col">Consulter</th>
                            <th scope="col">Supprimer</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {%  for key, structure in partner.structures %}
                        <tr>
                            <th scope="row">
                                {{ partner.structures | slice(key, 1)| join(', ') }}
                            </th>
                            {% if app.user and is_granted('ROLE_FRANCHISE')  %}

                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input structure-switch" type="checkbox" role="switch" id="flexSwitchCheckDefault" {{ (structure.isActive) ? 'checked' : '' }} data-id="{{ structure.id }}">
{#                                        <label></label>#}
                                    </div>
                                </td>
                                <td>
                                    <a href="{{path('app_structure_detail', {'id': structure.id})}}" class="btn btn-info m-md-2 btn-consult"><i class="bi bi-eye"></i>/<i class="bi bi-pen"></i></a><br>
                                </td>
                                <td>
                                    <a href="{{path('app_structure_delete', {'id': structure.id})}}" class="btn btn-danger m-md-2 btn-delete"><i class="bi bi-trash3"></i></a><br>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            {#-----------------------------#}

            {#---------return boutons-------------#}
            {{ include('partial/_return_to_annuaire.html.twig') }}
            {#-----------------------------#}

            {#---------modal-------------#}
            {{ include('partial/_deleteConfirmModal.html.twig') }}
            {#-----------------------------#}

        </div>
    </div>
{% endblock %}
