{% extends 'base.html.twig' %}

{% block title %}Annuaire des partenaires{% endblock %}

{% block body %}

        {{ include('partial/_responsiveFirstRow.html.twig') }}

        {# menuCommun is the left col in display #}
        {{ include('partial/_menuCommun.html.twig') }}

        {# Therefore the following must be in a col also #}

        <div class="col mx-lg-5 mx-md-3"> {# Les offset servent à éviter le menu fixed > sm ? A retraviller offset-sm-3 offset-xl-2 #}
            <div class="row text-center">
                <h1>Annuaire des partenaires de Booty Booster</h1>
            </div>


            {#-----------------------------#}
            <div class="row table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            {% if app.user and is_granted('ROLE_FRANCHISE')  %}
                                <th scope="col">Statut</th>
                                <th scope="col">Supprimer</th>
                            {% endif %}
                            <th scope="col">Description</th>
                            <th scope="col">Structures</th>
                            <th scope="col">Services souscrits par le partenaire</th>

                        </tr>
                    </thead>

                    <tbody class="table-group-divider">
                    {% for partner in partners %}
                        <tr>
                            <th scope="row">
                                {{ partner.name }}<br>
                                {% if app.user and is_granted('ROLE_FRANCHISE')  %}
                                    <a href="{{path('app_partner_detail', {'id': partner.id})}}" class="btn btn-info m-md-2 btn-consult"><i class="bi bi-eye"></i>/<i class="bi bi-pen"></i></a><br>
                                {% endif %}
                            </th>
                            {% if app.user and is_granted('ROLE_FRANCHISE')  %}
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input partner-switch"
                                               type="checkbox"
                                               role="switch"
                                               id="" {{ (partner.isActive) ? 'checked' : '' }}
                                               data-id="{{ partner.id }}">
                                    </div>
                                </td>
                                <td >
                                    <a href="{{path('app_partner_delete', {'id': partner.id})}}" class="btn btn-danger m-md-2 btn-delete"><i class="bi bi-trash3"></i></a><br>
                                </td>
                            {% endif %}
                            <td>{{ partner.description }}</td>
                            <td>
                                <ul class="list-group list-group-flush">
                                    {%  for key, structure in partner.structures %}
                                        <li class="list-group-item">{{ partner.structures | slice(key, 1)| join(', ') }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group list-group-flush">
                                    {%  for key, service in partner.service %}
                                        <li class="list-group-item">{{ partner.service | slice(key, 1)| join(', ') }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

            {#-----------------------------#}
        </div>


    {{ include('partial/_deleteConfirmModal.html.twig') }}

{% endblock %}
